* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 640px;
    height: 960px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}

.slide li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide li:nth-child(1) {
    background: url("images/bag.jpg") no-repeat center;
    /*background: #434A54;*/

}

.slide li:nth-child(2) {
    background: url("images/bag.jpg") no-repeat center;
}

.slide li:nth-child(3) {
    background: url("images/bag.jpg") no-repeat center;
}

.slide li:nth-child(4) {
    background: url("images/bag.jpg") no-repeat center;
}

.slide li:nth-child(5) {
    background: url("images/bag.jpg") no-repeat center;
}

.slide li:nth-child(6) {
    background: url("images/bag.jpg") no-repeat center;

}

.slide li:nth-child(7) {
    background: url("images/bag.jpg") no-repeat center;

}

.slide li:nth-child(8) {
    background: url("images/bag.jpg") no-repeat center;
}

.zIndex {
    z-index: 111;
}

.progress #sp {
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 1000;
    background: #08A1EF;
    width: 0;
    -webkit-transition: 1s;
}

.progress em {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    padding-left: 5px;
    z-index: 2000;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
}

/*
/*.a4 p {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
    color: #fff;
    line-height: 25px;
    border-radius: 5px;
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;

}*/

/*
.a4 p:nth-child(1) {
    left: 10%;
    top: 15%;
}

.a4 p:nth-child(2) {
    left: 53%;
    top: 18%;
}

.a4 p:nth-child(3) {
    left: 78%;
    top: 46%;
}

#a4 p {
    width: 100px;
    height: 200px;
    -webkit-transition: 1s;
}

#a4 p:nth-child(3) {
    width: 80px;
    height: 200px;
}*/
.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a6 {
    width: 100%;
    height: 100%;
}

.a1 .myself {
    display: block;
    margin: 75px auto;
    padding: 20px 120px;
    width: 300px;
    height: 80px;
    line-height: 80px;
    border: 4px solid rgb(253, 234, 6);
    color: rgb(253, 234, 6);
    font-size: 75px;
    font-weight: 900;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-transform: translate(-1000px, 0);
}

#a1 .myself {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

.a1 .per {
    display: block;
    margin: -20px auto;
    width: 550px;
    height: 80px;
    line-height: 80px;
    background: rgb(253, 234, 6);
    color: #404449;
    font-size: 40px;
    font-weight: 900;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-transform: translate(1000px, 0);
}

#a1 .per {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

.a1 .qq1, .a1 .qq2 {
    display: block;
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 400px;
    font-size: 40px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: rgb(253, 234, 6);
    text-align: center;
}

.a1 .qq1 {
    -webkit-transform: translate(1000px, 0);
}

.a2 .preview {
    margin: 40px 0;
}

.a2 .preview div {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.a2 .preview span {
    -webkit-transform: translate(1000px, 0);
}

.a2 .preview img {
    opacity: 0;
}

#a2 .preview span {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

#a2 .preview img {
    -webkit-animation: fade-in 1.5s both;

}

@-webkit-keyframes fade-in {
    /*Õë¶ÔwebkitÄÚºË*/
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.a2 .y1, .a2 .y3 {
    position: absolute;
    top: -47px;
    left: 98px;
}

.a2 .xx {
    /*-webkit-animation: my_Move 0.5s ease-out 1 both;*/
}

#a2 .xx {
    -webkit-animation: my_Move 0.5s ease-out 1 both;
}

@-webkit-keyframes my_Move {
    25% {
        height: 25%;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 100%;
        -webkit-transform: translate(0, 0);
    }
}

.a2 .y2, .a2 .y4 {
    position: absolute;
    top: -52px;
    left: 297px;
}

.a2 .y5 {
    position: absolute;
    bottom: -44px;
    left: 99px;
}

.a2 .y6 {
    position: absolute;
    bottom: -44px;
    left: 99px;
}

#y6 {
    position: relative;
    bottom: 20px;
    left: 195px;
}

.a2 .xx {
    display: block;
    width: 206px;
    height: 206px;
    margin: 0 auto;
}

.a2 .preview div span {
    position: absolute;
    top: -10%;
    left: 40%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#a1 .qq1 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

.a3 {
    width: 100%;
    height: 100%;
}

.a3 .whatJOB {
    display: block;
    width: 250px;
    padding: 20px;
    margin: -3px auto;
    border: 5px solid rgb(253, 234, 6);
    font-size: 40px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(253, 234, 6);
    -webkit-transform: translate(0, -1000px);
}

#a3 .whatJOB {
    -webkit-animation: myMove 0.5s ease-out 1 both;
}

@-webkit-keyframes myMove {
    25% {

    }
    50% {
        /*-webkit-transform: translate(0, -400px);*/
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

.a3 .por {
    display: block;
    width: 250px;
    height: 250px;
    background: rgb(253, 234, 6);
    border-radius: 50%;
}

.a3 .por img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 10%;
    top: 30px;
}

#a3 .por img {
    -webkit-animation: loading 2s linear 1;
}

.a3 .lss {
    position: absolute;
    top: 28%;
    left: 50%;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: rgb(253, 234, 6);
}

.a3 .xhx {
    display: block;
    position: relative;
    width: 340px;
    left: 265px;
    top: -80px;
}

.a3 .c1, .a3 .c2, .a3 .c3, .a3 .c4 {
    display: block;
    margin: 20px;
    padding: 10px 0;
    width: 200px;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: rgb(253, 234, 6);
    background: rgba(255, 255, 255, 0.298039);
}

.d1 {
    float: left;
}

.d2 {
    float: left;
}

.a3 .c5, .a3 .c6, .a3 .c7, .a3 .c8 {
    display: block;
    margin: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #404449;
    background: rgb(253, 234, 6);
}

.a4 .x1, .a4 .x2, .a4 .x3, .a4 .x4, .a4 .x5, .a4 .x6 {
    border: 5px solid rgb(253, 234, 6);
    border-left-width: 2px;
    border-right-width: 3px;
    border-bottom-width: 4px;
    -webkit-animation: loading 2s linear 1;
}

.a4 .a4-title1, .a5 .a4-title1 {
    display: block;
    width: 80%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 3px solid rgb(253, 234, 6);
    font-size: 50px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(253, 234, 6);
    position: absolute;
    top: 5%;
    left: 10%;
    -webkit-transform: translate(0, -1000px);
}

#a4 .a4-title1, #a5 .a4-title1 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

.a4 .a4-title2, .a5 .a4-title2 {
    display: block;
    margin-top: 10px;
    width: 80%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 3px solid rgb(253, 234, 6);
    font-size: 50px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgb(253, 234, 6);
    color: #000005;
    position: absolute;
    top: 13%;
    left: 10%;
    -webkit-transform: translate(1000px, 0);
}

#a4 .a4-title2, #a5 .a4-title2 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
}

.a4 b, .a5 b {
    display: block;
    font-size: 30px;
    color: rgb(253, 234, 6);
    position: absolute;
    top: 25%;
    left: 10%;
}

.a4 .work, .a5 .work {
    position: absolute;
    top: 30%;
    left: 10%;
}

.work i {
    font-style: normal;
    color: #ffffff;
    font-size: 35px;
}

.a4 .a4-x {
    position: absolute;
    top: 40%;
    left: 25px;
    width: 100%;
    height: 60%;
}

.a4 .a4-x span {
    color: #fff;
    font-size: 30px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
}

.a4 .x1 {
    display: block;
    position: absolute;
    top: 45px;
    left: 125px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(172, 147, 237);
}

.a4 .x2 {
    display: block;
    position: absolute;
    top: 45px;
    left: 305px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(215, 113, 173);
}

.a4 .x3 {
    display: block;
    position: absolute;
    top: 200px;
    left: 415px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(59, 176, 219);
}

.a4 .x4 {
    display: block;
    position: absolute;
    top: 320px;
    left: 145px;
    width: 295px;
    height: 200px;
    border-radius: 50%;
    background: rgb(219, 68, 84);
}

.a4 .x5 {
    display: block;
    position: absolute;
    top: 200px;
    left: 14px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(247, 188, 66);
}

.a5 .a5-1, .a5 .a5-2, .a5 .a5-3, .a5 .a5-4, .a5 .a5-5, .a5 .a5-6 {
    float: left;
}

.a5 .a5-1 {
    position: absolute;
    top: 40%;
    left: 20px;
    width: 200px;
    height: 300px;
    background: #F6BB41;
}

.a5 .a5-2 {
    position: absolute;
    top: 40%;
    left: 220px;
    width: 200px;
    height: 300px;
    background: #3AAFDA;
}

.a5 .a5-3 {
    position: absolute;
    top: 40%;
    left: 420px;
    width: 200px;
    height: 300px;
    background: #EFEFEF;
}

.a5 .a5-4 {
    position: absolute;
    top: 70%;
    left: 20px;
    width: 200px;
    height: 300px;
    background: #8CC351;
}

.a5 .a5-5 {
    position: absolute;
    top: 70%;
    left: 220px;
    width: 200px;
    height: 300px;
    background: palegoldenrod;
}

.a5 .a5-1, .a5 .a5-2, .a5 .a5-3, .a5 .a5-4, .a5 .a5-5, .a5 .a5-6 {
    -webkit-transform: translate(0, -2000px);
}

#a5 .a5-1 {
    -webkit-animation: myMove 1.5s ease-out 1 both;
}

#a5 .a5-2 {
    -webkit-animation: myMove 2s ease-out 1 both;
}

#a5 .a5-3 {
    -webkit-animation: myMove 2.5s ease-out 1 both;
}

#a5 .a5-4 {
    -webkit-animation: myMove 3s ease-out 1 both;
}

#a5 .a5-5 {
    -webkit-animation: myMove 3.5s ease-out 1 both;
}

#a5 .a5-6 {
    -webkit-animation: myMove 4s ease-out 1 both;
}

.a5 .a5-1 span, .a5 .a5-2 span, .a5 .a5-3 span, .a5 .a5-4 span, .a5 .a5-5 span, .a5 .a5-6 span {
    display: block;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #555;
    font-size: 80px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;

}

.a5 .a5-6 {
    position: absolute;
    top: 70%;
    left: 420px;
    width: 200px;
    height: 300px;
    background: #E9563E;
}

.a6 span {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 480px;
    text-align: center;
    font-size: 32px;
    color: rgb(204, 204, 204);
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#a6 span {
    /*-webkit-transform: rotate(360deg);*/
    /*-webkit-transition: all 1s;*/
    /*-webkit-transform: rotateY(720deg);*/
    /*-webkit-transition: 3s;*/
}

.a6 p {
    position: relative;
    top: 5%;
    width: 105px;
    height: 105px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 25px;
    margin: 15px;

}

.a6 .tb1 {
    background: url("images/qq.png") no-repeat center;
    background-color: #BEDD6B;
    background-size: 80%;
    -webkit-transform: translate(-1000px, 0);
    text-align: center;

}

.a6 .tb2 {
    background: url("images/wx.png") no-repeat center;
    background-size: 100%;
    -webkit-transform: translate(-1000px, 0);
}

.a6 .tb3 {
    background: url("images/dh.png") no-repeat center;
    background-size: 100%;
    -webkit-transform: translate(-1000px, 0);
}

.a6 .tb4 {
    background: url("images/yx.jpg") no-repeat center;
    background-size: 100%;
    -webkit-transform: translate(-1000px, 0);
}

#a6 .tb1 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 2s;
}

#a6 .tb2 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 3s;
}

#a6 .tb3 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 4s;
}

#a6 .tb4 {
    -webkit-transform: translate(0, 0);
    -webkit-transition: 5s;
}

.a6 .tb1 span, .a6 .tb2 span, .a6 .tb3 span, .a6 .tb4 span {
    text-align: left;
    position: relative;
    left: 110px;
}

.a6 .comeon {
    -webkit-transform: scale(0);
}

#a6 .comeon {
    -webkit-transform: scale(1);
    -webkit-transition: 3s;
}

@-webkit-keyframes rotateAnimate {
    25% {
        -webkit-transform: translate(-600px, 0);
        -webkit-transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.music {
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url("video/music.svg") no-repeat;
    background-size: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.music.move {
    -webkit-animation: audioMove 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
    }
}


